.detail-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-producto{
    margin-top: 2rem;
    width: 40%;
}

.card-producto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-producto img{
    width: 50%;
    height: 50%;
}

.description-span{
    text-align: left;
    margin-bottom: 1rem;
}

.stock-span{
    color: rgba(28,105,181,1);
    font-weight: bolder;
}