.cart-widget{
    margin: auto;
    margin-right: 1rem;
    border-radius: 5px;
}

.cart-widget:hover{
    box-shadow: 0px 0px 32px 10px rgba(0,142,202,0.75);
    transition: 200ms;
}

.widget{
    margin-top: 5px;
    padding: 10px;
    color: blue;
}