.productos-container{
    margin-top: 2rem;
    user-select: none;
}

.producto{
    padding: 1rem;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 1rem;
    width: 20rem;
    height: 100%;
    margin: 4px;
    margin-left: 5rem;
}