.header-container{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(28,105,181,1) 100%, rgba(10,175,229,1) 100%, rgba(23,121,140,1) 100%);

}

.logo-img{
    max-width: 300px;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

.nav-link:hover{
    color: grey !important;
}