.cart-item{
    user-select: none;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 1rem;
}

.cart-item img{
    max-width: 20vh;
    width: 200px ;
    margin: 0 20px;
}

.cart-item span{
    margin: auto;
    width: 150px;
    text-align: center;
}

.cart-container button{
    background-color: transparent;
    border: none;
}

