.contador-conteiner{
    display: inline;
    margin: 1rem;
    user-select: none;
}

.contador-conteiner button{
    width: 70;
    margin-left: 1rem 
}

.buttonMinus{
    margin-right: .7rem;
}

.buttonPlus{
    margin-left: .7rem;
}