.contador-container{
    display: inline;
    margin: 1rem;
    user-select: none;
}

.contador-container button{
    width: 70;
    margin-left: 1rem 
}

.buttonMinus{
    margin-right: .7rem;
}

.buttonPlus{
    margin-left: .7rem;
}

.custom-btn{
    background-color: rgba(28,105,181,1) !important;
}