.productos-container{
    margin-top: 2rem;
    user-select: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem 5rem;
    width: 100%;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: none;
    color: black;
}


